.grpbtn-main {
  margin-top: 80px;
  .grpbtn {
    display: flex;
    justify-content: center;
    background-color: #23c0e9;
    width: 350px;
    margin: 0 auto;
    max-width: "100%";
    border-radius: 10px;
    .btns {
      background-color: #fff;
      color: #23c0e9;
      margin: 10px 5px;
      border-radius: 10px;
    }
  }
}
