.change-pass-main {
    margin-left: 30px;
    width: 72%;
    background: #ffffff;
    border-radius: 6px;
    display: inline-block;
    .change-pass {
      border: 2px solid #f1f3f4;
      padding: 25px;
      box-shadow: 0 3px 10px #f8f3f3;
    }
    h2{
      margin-bottom: 40px;
    }
}
