.footer-main {
  background-image: url("../../assests//footerbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   height: 300px;
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: end;
  height: 100%;
  .footer {
    display: flex;
    padding: 0 20px;
    color: #fff;
    .col-1 {
      text-align: center;
      width: 100% !important;
      ul {
        margin: 20px 0;
        li {
          display: inline;
          cursor: pointer;
          align-items: center;
          list-style: none;
          line-height: 40px;
          text-transform: capitalize;
          word-spacing: 30px;
          color: white;
          text-decoration: none;
          i {
            font-style: normal;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      p {
        margin: 0 20%;
      }
      span {
        background-color: #091214;
        margin-right: 20px;
        padding: 10px;
        display: inline-flex;
        border-radius: 50%;
        margin-bottom: 25px;
        cursor: pointer;
        color: rgb(131, 129, 129);
      }
    }
    h3 {
      color: #c0bcbc;
      text-transform: capitalize;
      font-size: 30px;
    }
    // .col-4 {
    //   width: 20%;
    //   margin-right: 20px;
    //   p {
    //     position: relative;
    //     line-height: 26px;
    //     transition: 0.2s ease-in;
    //     font-weight: 400;
    //     margin-top: 10px;
    //     font-size: 14px;
    //   }
    //   ul {
    //     margin-top: 10px;
    //     li {
    //       display: flex;
    //       cursor: pointer;
    //       align-items: center;
    //       list-style: none;
    //       line-height: 40px;
    //       text-transform: capitalize;
    //       span {
    //         .arrow-icon {
    //           font-size: 14px;
    //           margin-right: 5px;
    //         }
    //       }
    //     }
    //     li:hover {
    //       color: #23c0e9;
    //       transition: 0.5s;
    //     }
    //   }
    // }
  }
}

@media screen and (max-width: 1000px) {
  .footer-main {
    .footer {
      flex-wrap: wrap;
      // .col-1{
      //     width: 50% !important;
      // }
      .col-4 {
        width: 40%;
        margin-bottom: 40px;
        margin-right: 40px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer-main {
    .footer {
      flex-wrap: wrap;
      .col-1 {
        width: 100% !important;
      }
      .col-4 {
        width: 100%;
        // margin-bottom: 40px;
        // margin-right: 40px;
      }
    }
  }
}
